.animate-left {
    animation: animateleft 0.4s;
}

.animate-right {
    animation: animateright 0.4s;
}

.animate-top {
    animation: animatetop 0.4s;
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0;
    }

    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -100px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animateright {
    from {
        right: -100px;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}
