.reviewrapper {
    width: 1000px;
    height: 550px;
    position: relative;
    border: 1px solid #9c9c9c;
    background: #ffffff;
    padding: 16px 16px;
    margin: 16px 16px;
    z-index: 9999;
    position: fixed;
}

.uploadcontainter {
    width: 500px;
    min-height: 460px;
}

.face, .faceimg {
    height: 260px;
    width: 260px;
    border-radius: 50%;
    object-fit: cover;
}

.reviewimg {
    position: absolute;
    right: 10%;
    top: 30%;
}

.inputimg {
    background: #ffffff;
    padding: 16px 0px;
    border-bottom: 1px solid #c8c8c8;
}

.uploadbtncontainter {
    background: #ffffff;
    border-top: 1px solid #c8c8c8;
    position: absolute;
    bottom: 0%;
    padding: 24px 0px;
    width: 1000px;
}

.uploadbtn {
    position: absolute;
    bottom: 3%;
    right: 7%;
    margin: 4px 4px;
    padding: 4px 4px;
}

.calcelbtn {
    position: absolute;
    bottom: 3%;
    right: 2%;
    margin: 4px 4px;
    padding: 4px 4px;
}
