.hotvideoSmallCourse > div {
    display: inline-block;
    float: none;
}

.hotvideoSmallCourse.forPageList .allCourseViewSmall {
    right: 0;
}

.allCourseViewSmall {
    position: relative;
    right: -5px;
    padding: 15px;
    background-color: #FFF;
    box-shadow: 0 1px 5px #6b6b6b;
    border-bottom: solid 3px #d4d4d4;
    margin-bottom: 35px;
    margin-left: 48px;
    margin-right: 48px;
    border-radius: 7px;
}

.allCourseViewSmall .a {
    display: block;
    color: #333;
    text-decoration: none;
    background-color: transparent;
    margin-bottom: 10px;
}

.a {
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
}

.h4 {
    font-size: 21px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: 500;
    line-height: 1.1;
}

.icon-star {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 8px 16px;
}

.allCourseViewSmall.modeList p.authorization, .allCourseViewSmall.modeList p.keyWord, .allCourseViewSmall.modeList div.otherInfo {
    font-size: 0.8125rem;
    color: #999;
    margin-bottom: 10px;
}

.otherInfo {
    position: absolute;
    bottom: 10px;
    right: 0px;
}

.p {
    margin: 0 0 10px;
}

.allCourseViewSmall.modeList .otherInfo span, .allCourseViewSmall.modeList .otherInfo ul {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
}

.allCourseViewSmall .viewAccount {
    font-size: 1.025rem;
    color: #999;
    margin-bottom: 10px;
    margin-right: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul.suitableGroup {
    margin: 0;
    padding: 0;
}

.ul, .ol {
    margin-top: 0;
    margin-bottom: 10px;
}

.allCourseViewSmall.modeList .otherInfo .ul .li.itemTitle {
    color: #999;
    padding: 5px 0;
}

.allCourseViewSmall.modeList .ul .li.itemTitle {
    color: #999;
    padding: 5px 0;
}

.allCourseViewSmall.modeList .otherInfo .ul .li {
    margin-bottom: 0;
}

ul.suitableGroup .li {
    font-size: 0.65rem;
    color: #fff;
    float: left;
    list-style: none;
    padding: 5px;
    margin-right: 5px;
    border-radius: 2px;
    margin-bottom: 5px;
}

ul.suitableGroup .li.suitable10-12--1 { // 3~4年級
    border-radius: 10px;
    background-color: #DC3D84;
}

ul.suitableGroup .li.suitable10-12--2 { // 5~6年級
    border-radius: 10px;
    background-color: #00d700;
}

ul.suitableGroup .li.suitable10-12--3 { // 7~9年級
    border-radius: 10px;
    background-color: #0080ff;
}

ul.suitableGroup .li.suitable10-12--4 { // 10~12年級
    border-radius: 10px;
    background-color: #8080ff;
}

ul.suitableGroup .li.suitable10-12--5 { // 10~12 plus
    border-radius: 10px;
    background-color: #000080;
}

ul.suitableGroup .li.suitable10-12-2 {
    border-radius: 10px;
    background: #bbb;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 2px 3px;

    &:hover {
        color: #6f6f6f;
    }
}

ul.suitableGroup .li {
    font-size: 0.95rem;
    color: #fff;
    float: left;
    list-style: none;
    padding: 5px;
    margin-right: 5px;
    border-radius: 2px;
    margin-bottom: 5px;
}

.hotvideoSmallCourse.forPageList .allCourseViewSmall.modeList {
    height: auto;
    padding: 15px;
    position: relative;
}

.listControlBar {
    padding: 7px 8px 7px 15px;
    background-color: #FFF;
    margin-top: 16px;
    margin-bottom: 23px;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 0 0px 10px #939393;
    border-bottom: solid 3px #d4d4d4;
    margin-left: 10px;
    margin-right: 14px;
}

.act {
    color: #f2a920;
}

.noact {
    color: #c0c0c0;
}

.icon-containter {
    overflow: hidden;
    font-size: 1.25rem;
    margin-right: 15px;
    line-height: 15px;
}

.listMethod {
    float: right;
    margin-top: 5px;
    margin-right: 18px;
}

.listControlBar span {
    margin-left: 18px;
}

.mybutton {
    border-radius: 5px;
}

.link:hover > .h4 {
    text-decoration: underline;
}