.ytd-grid-playlist-renderer {
    display: inline-block;
    width: 210px;
}

.edu-ytimg {
    width: 210px;
    font-size: 16px;
    padding: 4px 8px;
    text-decoration: none;
}

.edu-ytimg, .edu-ytimg:hover {
    color: #000000;
}

.relative {
    position: relative;
}

.ytd-playlist-thumbnail.ytd-grid-playlist-renderer {
    height: 118px;
    width: 210px;
}

.ytd-playlist-thumbnail {
    display: block;
}

.ytd-playlist-thumbnail {
    display: block;
    position: relative;
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
}

.ytd-playlist-thumbnail #thumbnail.ytd-playlist-thumbnail {
    height: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#thumbnail.ytd-playlist-thumbnail, #playlist-thumbnails.ytd-playlist-thumbnail {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.yt-simple-endpoint {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.ytd-playlist-video-thumbnail-renderer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.yt-img-shadow.ytd-playlist-video-thumbnail-renderer {
    display: block;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    width: 100%;
}

.yt-img-shadow[loaded] {
    opacity: 1;
}

.yt-img-shadow.no-transition {
    opacity: 1;
    transition: none;
}

.yt-img-shadow {
    display: inline-block;
    opacity: 0;
    transition: opacity 0.2s;
}

img.yt-img-shadow {
    display: block;
}

#length.ytd-playlist-thumbnail {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 4px;
    padding: 3px 4px;
    height: 12px;
    border-radius: 2px;
    letter-spacing: 0.5px;
}

.ytd-thumbnail-overlay-side-panel-renderer {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
    color: #ffffff;
    text-align: center;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 92px;
    height: 118px;
}

.ytd-thumbnail-overlay-side-panel-renderer2 {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    text-align: center;
    display: none;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 210px;
    height: 118px;
}

.edu-ytimg:hover .ytd-thumbnail-overlay-side-panel-renderer2 {
    display: flex;
}

.imgcontainter {
    width: 210px;
    height: 118px;
}

.yt-formatted-string.ytd-thumbnail-overlay-side-panel-renderer {
    color: #ffffff;
}

.yt-icon, .yt-icon-container.yt-icon {
    display: inline-flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    fill: currentcolor;
    stroke: none;
    width: 24px;
    height: 24px;
}

.video_num {
    font-size: 1.2rem;
}

.video_icon {
    margin: 4px 0 0;
    font-size: 1.2rem;
}

svg:not(:root) {
    overflow: hidden;
}

.ytd-thumbnail-overlay-now-playing-renderer {
    opacity: 0;
    color: #fff;
    text-align: center;
    transition: opacity 0.3s;
    z-index: 1;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.007px;
    text-transform: uppercase;
}

h3.ytd-grid-playlist-renderer {
    color: #ffffff;
}

h3.ytd-grid-playlist-renderer {
    margin: 8px 0 8px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#video-title.ytd-grid-playlist-renderer {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    font-weight: 500;
}

a.yt-simple-endpoint.ytd-grid-playlist-renderer {
    display: block;
}

.yt-simple-endpoint.ytd-grid-playlist-renderer {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.yt-simple-endpoint {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.ytd-badge-supported-renderer.ytd-grid-playlist-renderer {
    margin-top: 4px;
}

[hidden] {
    display: none !important;
}

[hidden] {
    display: none !important;
}

.ytd-badge-supported-renderer {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

#view-more.ytd-grid-playlist-renderer {
    display: block;
    margin-top: 4px;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.007px;
    text-transform: uppercase;
}

.list-container {
    box-shadow: 0 5px 20px #8a8a8a;
    background: #ffffff;
    margin: 10px 30px;
    // margin-bottom: 15px;
    border-radius: 15px;
    display: flex;
    padding: 15px 10px;
    flex-wrap: wrap;
}

.grid_map {
    padding: 0px 48px;
}

.map {
    height: calc(100vh - 120px);
}